<h1> Hello,  </h1>

<div class="container">
	
	<div class="row">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Clothes</span>
				<p> {{data.clothes}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Food</span>
				<p> {{data.food}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Rent</span>
				<p> {{data.rent}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Entertainment</span>
				<p> {{data.entertainment}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Misc.</span>
				<p> {{data.other}}
			</div>
		</div>
	</div>

</div>